<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <section>
    <h2>About The Team</h2>
    <p>
      Esum was developed by Vyanna, Jayson, Brandon, Brady. Esum was sponsored by Dr. Pradeep Atrey.
        <br>Interested in our team's personal work? Click the links below for our memeber's personal pages
            <ul>
                <li> <a href="https://github.com/Vy4thewin">Vyanna</a></li>
                <li> <a href="https://github.com/jayschaefer">Jayson</a></li>
                <li> <a href="https://github.com/BrandonOzsahin">Brandon</a></li>
                <li> <a href="https://github.com/Brady-Madden">Brady</a></li>
            </ul>
    </p>
</section>
  <%- include("../partials/footer.ejs") %>
</body>
</html>