<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
	<h2> Welcome to ESUM</h2>
        <p> The goal of ESUM is to reduce the clutter of large email threads and condense these into readable chats.
        <br>
        <br> Esum will boost the visibility by:
            <ul>
                <li>Increasing spacing in-between threads</li>
                <li>Deleting repetive signatures </li>
                <li>Email threads styled in chat messaging format</li>
            </ul>
        </p>   
  <%- include("../partials/footer.ejs") %>
</body>
</html>