<html lang="en">
<%- include("../partials/head.ejs") %>
	<body>
		<%- include("../partials/nav.ejs") %>
		<h1>Login to ESUM</h1>
		<form id="login">
			<label for="email" id="elabel">Email:</label>
			<input type="text" autocomplete="off" id="userEmail" placeholder="user@albany.edu" required/>
			<br>
			<label for="password" id="plabel">Password:</label>
			<input type="password" autocomplete="off" id="password" placeholder="Password" required/>
			<br>
			<input type="submit" value="Login" />
			<a href="./change-password" id ="ForgotPass" class="button">Forgot Your Password?</a>
			<br>
			<a href="./register" id ="createAcc" class="button">Dont Have an Account? Create One Here!</a>
			<br>
			<br>
			<a href="./adminLogin" id ="adminLogin" class="button">ADMINS CLICK HERE TO LOG IN HERE!</a>
		</form>

		<h3>Or if you're an admin log in</h3>
		<form id="adminlogin">
			<label for="email" id="elabel">Email:</label>
			<input type="text" autocomplete="off" id="adminEmail" placeholder="admin@albany.edu" required/>
			<br>
			<label for="password" id="plabel">Password:</label>
			<input type="password" autocomplete="off" id="password" placeholder="Password" required/>
			<br>
			<input type="submit" value="Login" />
			<a href="./change-password" id ="ForgotPass" class="button">Forgot Your Password?</a>
			<br>
		</form>

		<script>
			var form = document.getElementById('login')
			form.addEventListener('submit', login)
			async function login(event) {
				event.preventDefault()
				const userEmail = document.getElementById('userEmail').value
				const password = document.getElementById('password').value
				const res = await fetch('/login', {
					method: 'POST',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify({ userEmail, password })});
				const data = await res.json();
					console.log('User ID: ', data.user)
					console.log('Token:', data.token)
					localStorage.setItem('token', data.token)
					alert('Successfully Logged In!')
					if (data.user) { window.location.replace('../dashboard') }
			}
		</script>

		<script>
			const form = document.getElementById('adminlogin')
			form.addEventListener('submit', adminlogin)
			async function adminlogin(event) {
				event.preventDefault()
				const adminEmail = document.getElementById('adminEmail').value
				const password = document.getElementById('password').value
				const res = await fetch('/login', {
					method: 'POST',
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify({ adminEmail, password })});
				const data = await res.json();
					console.log('Admin ID: ', data.admin)
					console.log('Token:', data.token)
					localStorage.setItem('token', data.token)
					alert('Successfully Logged In!')
					if (data.admin) { window.location.replace('../dashboard') }
			}
		</script>

		<%- include("../partials/footer.ejs") %>
	</body>
</html>
