<html lang="en">
		<%- include("../partials/head.ejs") %>
	
	<body>
		<%- include("../partials/nav.ejs") %>
		<h1>ESUM Registration</h1>
		<form id="reg-form">
			<label for="email" id="elabel">Email:</label>
			<input type="text" id="userEmail" placeholder="user@albany.edu" required />
			<br>
			<label for="password" id="plabel">Password:</label>
			<input type="password" id="password" placeholder="Password" required/>
			<br>
			<label for="password" id="clabel">Re-Enter Password:</label>
			<input type="password" id="cpassword" placeholder="Re-Enter Password" required/>
			<br>
			<input type="submit" value="Create Account" />
			<a href="./login" id ="adminLogin" class="button">Already Have an Account? Login Here!</a>
		</form>

		<script>
			const form = document.getElementByIzxd('reg-form')
			form.addEventListener('submit', registerUser)

			async function registerUser(event) {
				event.preventDefault()
				const userEmail = document.getElementById('userEmail').value
				const password = document.getElementById('password').value
				const cpass = document.getElementById('cpassword').value

				const result = await fetch('/register', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						userEmail,
						password,
						cpass
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					alert('Account Sucessfully Created')
					window.location.replace('/login')
				} else {
					alert(result.error)
				}
			}
		</script>
	<%- include("../partials/footer.ejs") %>
	</body>
</html>
