<nav>
	<div class="site-title">
		<a href="/">
			<h1>Esum</h1>
		</a>
		<p>A 499 project</p>
	</div>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/FAQ">FAQ</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/dashboard">Dashboard</a></li>
	</ul>
</nav>