<nav>
  <div class="site-title">
    <a href="/"><h1>Esum</h1></a>
    <p>A 499 project</p>
  </div>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/email/index">Emails</a></li>
    <li><a href="/email/create">New-email</a></li> 
    <li><a href="/logout">Logout</a></li>       
  </ul>
</nav>