<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-email content">
    <form action="/email" method="POST">
      <label for="subject">Email Subject:</label>
      <input type="text" id="subject" name="subject" required>
      <label for="receipient">Email Receipients:</label>
      <input type="text" id="receipient" name="receipient" required>
      <label for="body">Email body:</label>
      <textarea id="body" name="body" required></textarea>
      <label for="userId">user ID:</label>
      <input id="userId" name="userId" required></input>
      <button>Submit</button>
    </form>

    <h2>New thread to analyze? </h2>
    <p>
        Upload your Email file below

    <form id="file_sub">
            <input type="file" name="orgEmail" accept=".txt">
            <br>
            <input type="submit" value="Upload">
    </form>
    <small>How to transfer your email log to a file? Check our <a href="/faq">FAQ</a> </small>
    </p>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                    $("#file_sub").submit(function(e) {
                        e.preventDefault();
                        //Don't submit after click, as Ajax will create post request
                        
                        var f = $('input[type="file"]')[0].files[0];
                        //retrieve contents from the uploaded file
                        const scan = new FileReader();

                        scan.onload = function () {
                            let content = scan.result;
                            esumAnalysis(content);
                            //onload:when scan is complete, send contents to EA 
                        }
                        scan.readAsText(f);
                        //reads uploaded text file and the results awaits in the onload events


                        function esumAnalysis(file) {
                            //1.1, Find all emails in thread
                            const ePattern = /(\w+([.-]?\w)+@\w+(\.\w{2,3}))/g;
                            // the patttern of a email is used for a match. Global tag makes sure exec searches for all instances 

                           
                            let match = ePattern.exec(file);
                            var allEmail = [];
                            let i = 0;

                            while (match) {
                                allEmail[i] = match[1];
                                i++;
                                match = ePattern.exec(file);
                            }
                            //every time there's a match for an email, add the email onto the array

                            //2.1, Remove the duplicate emails from the lists
                            let emails = [];

                            for (j = 0; j < allEmail.length; j++) {
                                if (!emails.includes(allEmail[j])) {
                                    emails.push(allEmail[j]);
                                }
                            }
                            //checking if the current index is not inside the clean array before we push in
                            //1.2, Version (outlook only chain, Have to create cases for others): Seperate threads into singular threads and determine futher analysis 
                            // alert("checkpoint "+emails[0]);
                            const eThreads=file.split("From:")

                            if(eThreads.length > 3){
                                //1.3, Find the Admin and create the user profiles with AJAX
                                
                                const lP= eThreads.length-1;
                                var admin= ePattern.exec(eThreads[lP]);
                                //the last item on the array will the be adminstator of the email. The first email match (From:) will be the Admin
                                for (a = 0; a < emails.length; a++) {
                                    $.ajax({
                                        url: "/user/user",
                                        method: "POST",
                                        data: {
                                            userEmail: emails[a],
                                            password: "password"
                                        }
                                    })
                                        .done(function () {
                                            console.log("User ${emails[a]} account created")
                                        });

                                }
                                var participants=[];
                                var temp=[]
                                //Create found user profiles, awaits Admin user or option to specify
                                //2.1,  Emails. Grab all participants of the singular email and push into array at the index of the thread
                                for(b=0; b<eThreads.length; b++){
                                         for(c=0; c<emails.length;c++){
                                             if(eThreads[b].includes(emails[c])){
                                                 temp.push(emails[c]);
                                             }
                                         }
                                         participants.push(temp);
                                         temp=[];
                                }
                                //2.2, Grab the subject line of each thread and push into array.
                                const subPattern= /Subject: ((Re:)?(\w*[.?!@&*#$\s]?){0,77})*/g;
                                const subject=[];
                                
                            
                                 /*for(d=0;d<eThreads.length;d++){
                                    match= subPattern.exec(eThreads[d]);
                                    subject.push(match[1]);
                                 }
                                 */
                               
                                  
                                //Bug? If there's no \n between subject and body, it will grab first line of body- Will come back to fix
                                //2.3, Grab the date of the email thread
                                
                                //2.4, Grab the body of the email thread
                                //2.5, Idenitfy if body has a signuartue and delete.
                                //2.6, Create the AJAX post with the email model in mind for the data section


                            }else{
                               alert("The submission is too small for analysis: Try a longer submission");
                               $.ajax({
                                   url:"/email",
                                   method:"GET",
                                   success:function(){ console.log("Submission threads under three: no accounts were made")},
                                   error: function(){console.log("error in GET")}
                               });
                            }

                        }

                    });
                });
        </script> 
        <!--Google's jquery library-->        
  <%- include("./partials/footer.ejs") %>
</body>

</html>