<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/navDash.ejs") %>
	<h2> Welcome to the Dashboard</h2>
        <p> This is where you can view and upload your email 
        <br> threads and condense these into readable chats.
        </p>   
  <%- include("./partials/footer.ejs") %>
</body>
</html>